body {
    font-family: Arial, sans-serif;
    background-color: #eb73eb;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

button {
    background-color: #ff69b4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
}

button:hover {
    background-color: #ff1493;
}

#cat-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 2px solid #ff69b4;
    border-radius: 10px;
    overflow: hidden;
}

#cat-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}
